@use './partials/mixins.scss';
*{
    padding: 0px;
    margin: 0px;
}

body{
    @include mixins.flex;
    height: 100vh;
    // background-image: url('../morse.jpg');
    // background-repeat: no-repeat;
    // background-size: cover;
    // background-color: rgba(41,41,41,255);
    background: linear-gradient(45deg,#292929,#727272);
    
    font-family: 'Inconsolata', monospace;
    color: white;
}

form{
    @include mixins.flex;
    margin-top: 20px;
}

label{
    align-self: flex-start;
    font-size: 18px;
}

textarea{
    resize: none;
    border: none;
    outline: invert;
    width: 500px;
    height: 200px;
    font-size: 20px;
    border-radius: 10px;
    padding: 10px;
}

button{
    height: 40px;
    width: 100px;
    border: none;
    border-radius: 5px;
    background-color: #726f6f;
    color: white;
    font-size: 15px;
    box-shadow: 0 5px 5px 0px rgba(0, 0, 0, 0.3), 0 1px 2px 0 rgba(0, 0, 0, 0.3);
    
}